body{
    display: grid;
    grid-template-areas: 
    'h h'
    'n n'
    'as ar'
    'f f';
}



header{
    grid-area: h;
    color: white;
    background-color: lightskyblue;
    border-color:steelblue;
    text-align: center;
}
nav{
    grid-area: n;
    color: palegoldenrod;
}
article{
    grid-area: ar;
}
aside{
    grid-area: as;
}
footer{
    grid-area: f;
}

a{
    text-decoration: none;
}
